---

layout: "base.ejs"

---

<article class="main__article">
    <h1 class="article__title">
        <%= title %> 
    </h1>
    <figure class="main__article__figure">
        <img src="<%= image %> " alt="<%= imageAlt %>">
        <figcaption>
            <%= imageAlt %> 
        </figcaption>
    </figure>
</article>