<header>
    <a href="/"><img src="/assets/img/logo.png" alt="Logo del blog"></a>
    <nav>
        <ul>
            <li><a href="/postHome">Portafolio</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>