@use "../partials/base";

body {
    background: var(--opposite-main-color);
}

h1 {
    font-size: 5rem;
    margin: 5vh auto 15vh auto;
    letter-spacing: 4px;
    width: max-content;
    color: var(--main-color);
    text-align: center;
    font-family: "Impact";
    padding-bottom: 1rem;
    border-bottom: 4px solid var(--secondary-dark-color);
}

.dropdown__container {
    text-align: center;
    button {
        border-radius: 5px;
        font-family: inherit;
        font-size: inherit;
        width: 18%;
        background-color: var(--secondary-color);
        border: none;
        padding: 1.5rem 3rem;
        color: var(--opposite-main-color);
        cursor: pointer;
        &:hover {
            background-color: var(--secondary-hover-color);
        }
    }
}