@use "../partials/base";

body {
    background: black;
}

main {
    display: flex;
    margin: 7% 40% 0 auto;
}

.content__container {
    flex-direction: column;
}

h1 {
    color: white;
    font-family: "Impact";
    letter-spacing: 2.5px;
}