---
title: My homepage
layout: 'base.njk'
---

<main class="about__content">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Rerum laudantium quas deleniti ipsum voluptatibus non adipisci nobis minima fugit dolor.
    </p>
</main>