---
title: Blog
layout: 'base.njk'
---
<main class="careers__content">
    <section class="engineer__section">
        <a href="/projects-electronic-engineering.html">Ingeniería Electrónica</a>
    </section>
    <section class="nurse__section">
        <a href="/projects-nurse.html">Salud</a>
    </section>
</main>