---
    title: Camilo Arzuza
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=  title %></title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <%- include("./_includes/header.ejs") %> 
    <main class="content">
        <div class="title__container">
            <h1 class="main__title">WELCOME TO MY <a class="blog__link" href="/careers">BLOG</a></h1>
            <img src="./assets/img/camiloarzuza.png" alt="">
            <p>Hello, I'm <a class="about__link" href="/biography">Camilo Arzuza</a>, Electronic Engineer and Nurse.</p>
        </div>
    </main>
    <%- include("./_includes/footer.ejs") %> 
</body>
</html>
