---
title: Blog
layout: 'base.njk'
---
<main class="nurse__content">
    <h1>PROYECTOS</h1>
    <div class="links__container">
        <a href="#">Guías rápidas de cuidados</a>
        <a href="#">Administración de medicamentos</a>
        <a href="#">¿Qué hacer en caso de?</a>
    </div>
</main>