<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos Enfermería</title>
    <link rel="stylesheet" href="./assets/css/nurseProjects.css">
</head>
<body>
    <main>
        <h1>PROYECTOS</h1>
        <div class="links__container">
            <a href="#">Guías rápidas de cuidados</a>
            <a href="#">Administración de medicamentos</a>
            <a href="#">¿Qué hacer en caso de?</a>
        </div>
    </main>
</body>
</html>