:root {
  --main-color: white;
  --main-hover-color: #d6d6d6;
  --secondary-color: #F6921E;
  --secondary-hover-color: #FCA33D;
  --secondary-dark-color: #F47721;
  --secondary-light-color: #FAAF3B;
  --opposite-main-color: black;
  --opposite-main-hover-color: rgb(51, 51, 51);
  --tertiary-color: #3A81BB;
  --tertiary-hover-color: #4594d4;
}

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Impact";
  src: url("/assets/fonts/impact.ttf") format("ttf");
}
@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
body {
  font-family: "Myriad Pro";
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--main-color);
}

a {
  text-decoration: none;
}

.home__content {
  background-color: var(--opposite-main-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}
.home__content .title__container {
  padding-left: 1.5rem;
  margin: 0 7rem auto auto;
  border-left: 3px solid var(--secondary-dark-color);
}
.home__content img {
  top: 0;
  left: 0;
  position: absolute;
  width: 45%;
}
.home__content .main__title {
  font-family: "Impact";
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: var(--main-color);
  margin-bottom: 15rem;
}
.home__content .main__title .blog__link {
  color: var(--secondary-color);
}
.home__content p {
  color: var(--main-color);
  width: 29rem;
  font-size: 1.5rem;
  letter-spacing: 0.1px;
}
.home__content .about__link {
  color: var(--secondary-light-color);
}

@media (max-width: 500px) {
  .content img {
    position: relative;
  }
}
body {
  background: black;
}

.biography__content {
  display: flex;
  margin: 7% 40% 0 auto;
}
.biography__content h1 {
  color: white;
  font-family: "Impact";
  letter-spacing: 2.5px;
}
.biography__content .content__container {
  flex-direction: column;
}

.careers__content {
  display: flex;
  flex-wrap: wrap;
}
.careers__content section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 25rem;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.careers__content a {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 20px;
  width: clamp(15rem, 100%, 23rem);
}
.careers__content .nurse__section {
  background-image: url("/assets/img/nurse__background.png");
  background-color: rgba(0, 0, 0, 0.945);
}
.careers__content .nurse__section a, .careers__content .nurse__section a:visited {
  color: var(--opposite-main-color);
  background-color: var(--main-color);
}
.careers__content .nurse__section a:hover, .careers__content .nurse__section a:visited:hover {
  background-color: var(--main-hover-color);
}
.careers__content .engineer__section {
  background-image: url("/assets/img/engineer__background.png");
  background-color: var(--main-color);
}
.careers__content .engineer__section a, .careers__content .engineer__section a:visited {
  color: var(--main-color);
  background-color: var(--opposite-main-color);
}
.careers__content .engineer__section a:hover, .careers__content .engineer__section a:visited:hover {
  background-color: var(--opposite-main-hover-color);
}

@media (max-width: 500px) {
  .content section {
    height: 50vh;
  }
}
body {
  background: var(--opposite-main-color);
}

.engineering__content h1 {
  font-size: 5rem;
  margin: 5vh auto 15vh auto;
  letter-spacing: 4px;
  width: max-content;
  color: var(--main-color);
  text-align: center;
  font-family: "Impact";
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--secondary-dark-color);
}
.engineering__content .dropdown__container {
  text-align: center;
}
.engineering__content .dropdown__container button {
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  width: 18%;
  background-color: var(--secondary-color);
  border: none;
  padding: 1.5rem 3rem;
  color: var(--opposite-main-color);
  cursor: pointer;
}
.engineering__content .dropdown__container button:hover {
  background-color: var(--secondary-hover-color);
}

body {
  background-color: var(--main-color);
}

.nurse__content h1 {
  font-size: 5rem;
  font-family: "Impact";
  letter-spacing: 4px;
  color: var(--opposite-main-color);
  text-align: center;
  margin: 3vh auto 8vh auto;
  width: max-content;
  padding-bottom: 0.2rem;
  border-bottom: 4px solid var(--secondary-color);
}
.nurse__content .links__container {
  text-align: center;
}
.nurse__content a, .nurse__content a:visited {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  color: var(--main-color);
  background-color: var(--tertiary-color);
}
.nurse__content a:hover, .nurse__content a:visited:hover {
  background-color: var(--tertiary-hover-color);
}

/* PAGES */

/*# sourceMappingURL=style.css.map */
